#tabela_crud_titulos{
    width:775px;
    height:50px;
    background-color:red;
    margin-left:auto;
    margin-right: auto;
    margin-top:100px;
}

.tabela_crud_conteudo{
    width:776px;
    height:50px;
    margin-left:auto;
    margin-right: auto;
}

#titulo_cargos{
    width:375px;
    height:30px;
    padding:10px;
    background-color:#6d79da;
    border-bottom:10px solid #979fe2;

    /*Formatação da Fonte*/
    font-family:'Open Sans', sans-serif;
    text-align:center;
    color:#fff;
    font-size:16px;
    line-height:30px;
}

#div_foraCadastro{
    width:820px;
    height:470px;
    position:absolute;
    background-color:#200b00;
    z-index:101;
    margin:auto;
    top:0;
    bottom:0;
    right:0;
    left:0;
    display:none;
}

#div_cadastro{
    width:95%;
    height:420px;
    background-color:#fff;
    margin:auto;
    margin-top:25px;
}

#div_mostrarImagem{
    width:200px;
    height: 200px;
    position:absolute;
    z-index:101;
    margin:auto;
    top:0;
    bottom:0;
    right:0;
    background-color: rgba(255, 255, 255, 0.5);
    display:none;
    float:left;
}

.imagemPreview, .imagemPreview img{
    width:100%;
    height: 200px;
}

.conteudo_colunaPoucosCampos{
    width:299px;
    height:168px;
    padding:10px;
    float:left;

    /*Formatação da Fonte*/
    font-family:'Open Sans', sans-serif;
    text-align:center;
    color:#000;
    font-size:16px;
    line-height:168px;
}

.conteudo_coluna{
    width:180px;
    height:168px;
    padding:10px;
    background-color:#f4f4f4;
    float:left;

    /*Formatação da Fonte*/
    font-family:'Open Sans', sans-serif;
    text-align:center;
    color:#000;
    font-size:16px;
    line-height:168px;
}

.titulo_colunaImagem{
    width:240px;
    height:30px;
    padding:10px;
    background-color:#000;
    float:left;

    /*Formatação da Fonte*/
    font-family:'Open Sans', sans-serif;
    text-align:center;
    color:#fff;
    font-size:16px;
    line-height:30px;
}

.conteudo_colunaImagem{
    width:240px;
    height:168px;
    padding:10px;
    background-color:#f4f4f4;
    float:left;
}

.tabela_conteudoVideoImagem{
    width:239px;
    height:168px;
    display:flex;
    align-items:center;
}

.tabela_conteudoVideoImagem img{
    width:120px;
    height:120px;
    margin-left:auto;
    margin-right:auto;
}

.opcao_registro{
    width:97px;
    height:110px;
    float:left;
}

.imagem_opcao{
    width:98px;
    height:50px;
    margin-top:70px;
}

.coluna_2opcoes{
    width:196px;
    height:188px;
    background-color:#f4f4f4;
    float:left;

    /*Formatação da Fonte*/
    font-family:'Open Sans', sans-serif;
    text-align:center;
    color:#000;
    font-size:16px;
    line-height:30px;
}
